footer {
    background-color: purple;
    color: lightgray;
    height: 100px;
    width: 1565px;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

footer button {
    background-color: green;
}

footer a {
    border-radius: 10px;
}